	
	/* Fontes */
	
	@font-face {
	font-family: "Open Sans Condensed Light";
	src: url("fontes/OpenSansCondensed-Light.woff") format("woff");
	}
	
	@font-face {
	font-family: "Open Sans Light";
	src: url("fontes/OpenSans-Light.woff") format("woff");
	}
	
	/* Layout */
	
	.layout-vertical {
		display: flex;
		min-height: 100%;
		position: relative;
		top: 0;
		bottom: 0;
	}
	
	.layout-horizontal {
		flex: 1;
		display: grid;
		grid-template-rows: 50px 1fr;
	}
	
	
	/* Lateral e substituto para celular */
	
	.nome-e-foto-celular {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		padding-left: 10%;
		padding-right: 10%;
		margin-top: 5%;
		margin-bottom: -8%;
	}
	
	.lateral {
		display: none;
		flex-direction: column;
		padding-right: 1.5%;
		padding-left: 1.5%;
		padding-top: 20px;
		width: 18%;
		min-width: 150px;
		transition: 0.6s;
		z-index: 999;
	}
	
	.caixa-da-foto-celular {
		display: block;
		margin: 0px auto;
		width: 100%;
	}
	
	.caixa-da-foto {
		vertical-align: top;
		margin-bottom: 7%;
	}
	
	.nome-celular {
		display: block;
		font-family: "Open Sans Condensed Light", sans-serif;
		font-size: 20px;
		text-align: left;
		padding: 0;
		vertical-align: top;
		color: rgb(40, 40, 40);
		transition: 0.15s;
	}
	
	
	/* Navegação */

	.menu {
		padding-left: 5%;
		display: flex;
		height: 50px;
	}
	
	.botao, .botao-celular {
		display: flex;
		margin-right: 20px;
		align-items: center;
		font-family: "Open Sans Light", sans-serif;
		font-size: 18px;
		color: rgb(70, 70, 70);
		transition: 0.15s;
	}
	
	.link-botao {
	text-decoration: inherit;
	color: inherit;
	font-weight: inherit;
	}



	/* Parte principal */	
	
	.caixa-do-texto {
		position: relative;
		top: 0;
		bottom: 0;
		width: 100%;
	}
	
	.texto {
		font-family: "Open Sans Light", sans-serif;
		color: rgb(40, 40, 40);
		font-size: 15px;
		padding-left: 10%;
		padding-top: 30px;
		padding-right: 10%;
	}


/* cores de fundo */

	.lateral, .menu, .caixa-do-texto {
		background-color: rgb(212, 255, 240);
	}


/* Hover */

	.lateral:hover {
		box-shadow: 1px 0 20px rgb(162, 216, 200);
		transition: 0.3s;
		cursor: pointer;
	}
	
	/* .foto:hover {
		box-shadow: 0 0 20px rgb(162, 216, 200);
		transition: 0.3s;
		} */
	
	.botao:hover, .botao-celular:hover .nome:hover {
		transition: 0.15s;
		color: rgb(0, 0, 0);
		cursor: pointer;
	}
	
	
	/* Classes de img */
	
	.foto {
		width: 100%;
		border-radius: 50%;
		object-fit: cover;
		/* transition: 0.3s; */
	}
	
	.foto-do-rio {
		width: 50%;
		object-fit: contain;
		border-radius: 1%;
	}
	
	
	/* Gerais */
	
	h1, body {
		margin: 0;
		font-weight: 400;
	}
	
	html, body {
		width: 100%;
		height: 100%;
	}
	
	h2 {
		font-family: "Open Sans Condensed Light", sans-serif;
		font-size: 25pt;
		font-weight: 400;
	}
	
	a {
	text-decoration: inherit;
	color: rgb(0, 150, 145);
	font-weight: 700;
	}
	
	
	
	/* div clicável segundo resposta do Stack Overflow */
	
	.lateral {
        position: relative;
    }

    .link-lateral {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
    }
	
	/* vi isso em https://stackoverflow.com/a/22074404 */
	

	
	
	
	
	
